---
import Carousel from "./Carousel.astro";

---
<section class="flex flex-col relative min-h-screen w-full ">
    <!-------------------------------------------------->
    <!-- TITLE -->
    <h1 class="headline-2 | text-secondary w-full max-w-5xl mx-auto">Clientes</h1>

    <!-------------------------------------------------->
    <!-- CARROUSEL -->
    <div class="overflow-hidden relative h-96">
        <Carousel />
    </div>
</section>