<section id="about" class="w-full md:px-10 px-8 md:py-32 py-16 bg-accent">
    <!-------------------------------------------------->
    <!-- WRAPPER -->
    <div  class="w-full max-w-5xl mx-auto">
        <!-------------------------------------------------->
        <!-- TITLE -->
        <h2 class="headline-2 | text-white mb-10">Contacto</h2>

        <!-------------------------------------------------->
        <!-- CONTET -->
        <form action="mailto:" class="flex flex-col md:gap-10 gap-4 relative z-20 bg-white md:px-10 px-5 md:py-10 pt-10 pb-5 rounded-lg">
            <div class="flex flex-col">
                <label for="nombre" class="opacity-70 font-bold mb-2 ">Tu nombre:</label>
                <input id="nombre" type="text" class="text | border focus:outline-accent px-4 py-2" required>
            </div>

            <div class="flex flex-col">
                <label for="email" class="opacity-70 font-bold mb-2">Tu correo:</label>
                <input id="email" type="email" class="text | border focus:outline-accent px-4 py-2" required>
            </div>

            <div class="flex flex-col">
                <label for="email" class="opacity-70 font-bold mb-2">El mensaje:</label>
                <textarea id="mensaje" cols="30" rows="10" class="text | border focus:outline-accent px-4 py-2 h-32 resize-none" required></textarea>
            </div>


            <button class="flex justify-center items-center gap-2 border-2 border-secondary px-5 py-2.5 bg-secondary text-white rounded-lg hover:scale-105 hover:shadow-lg hover:bg-transparent hover:text-secondary active:scale-100 active:shadow-none transition-all duration-200 ease-linear cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-send" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M10 14l11 -11"></path>
                    <path d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5"></path>
                    </svg>
                Enviar
            </button>
        </form>

    </div>

</section>

<style>
    #about {
        --dot-bg: #F50187;
        --dot-color: rgb(255 255 255 / 10%);
        --dot-size: 5px;
        --dot-space: 80px;
        background:
            linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
            linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
            var(--dot-color);
    }

    @media (max-width: 768px) {
        #about {
            --dot-size: 2px;
            --dot-space: 30px;
        }
     }
</style>