---

---

<section class="flex justify-center h-[calc(100vh-112px)] md:px-10 mx-8">
    
    <div class="flex md:flex-row flex-col justify-between items-center w-full max-w-5xl">
        <!-- LEFT -->
        <div class="flex flex-col md:justify-start justify-center md:gap-8 gap-2 md:h-auto h-1/2">
            <h1 class="xl:text-9xl md:text-8xl text-6xl font-extrabold md:text-left text-center">
                ZAZ <br>
                968M
                <!-- TREMENDA <br>
                WEB -->
            </h1>
        
            <h3 class="text-accent md:text-2xl text-xl font-extrabold md:text-left text-center">ZAPOROZHETIC</h3>
        
            <p class="font-extrabold md:text-xl text-base md:leading-6 leading-5 md:text-left text-center">
                LEGENDARY <br>
                SOVIET <br>
                CAR
            </p>
        </div>
        <!-- RIGHT -->
        <div class="relative md:h-full h-1/2 lg:w-2/3 md:w-1/2 w-full lg:p-40">
            <div class="h-full w-full relative md:bottom-auto bottom-1/4 grid place-items-center lg:scale-100 md:scale-75 scale-50">
                <!-- BULB -->
                <div class="bulb | relative">
                    <img class="h-full w-full object-contain opacity-100" src="/bulp.svg" />
                    <div class="light | absolute bottom-full left-0 translate-y-8 -rotate-45 h-14 w-7 bg-accent" style="clip-path: polygon(29% 0, 66% 0, 57% 100%, 40% 100%)"></div>
                    <div class="light | absolute bottom-full left-1/2 -translate-x-1/2 -translate-y-4 h-24 w-12 bg-accent" style="clip-path: polygon(29% 0, 66% 0, 57% 100%, 40% 100%)"></div>
                    <div class="light | absolute bottom-full right-0 translate-y-8 rotate-45 h-14 w-7 bg-accent" style="clip-path: polygon(29% 0, 66% 0, 57% 100%, 40% 100%)"></div>
                </div>

                <div class="scissors | absolute h-full w-full top-0">
                    <img class="scissors-top | relative -translate-y-8 z-10 h-full w-full object-contain" src="/scissors-top.svg" />
                    <img class="scissors-bottom | absolute top-0 translate-y-4 h-full w-full object-contain" src="/scissors-bottom.svg" />
                </div>
            </div>
            <!-- SQUARE -->
            <div class="absolute left-0 bottom-0 bg-accent w-full md:h-20 h-14"></div>
            <div class="absolute left-0 z-10 md:top-[calc(100%+20px)] top-[calc(100%+12px)] w-full md:space-y-5 space-y-3">
                <div class="bg-accent w-full md:h-10 h-8"></div>
                <div class="bg-accent w-full md:h-8 h-5"></div>

            </div>
        </div>
    </div>
</section>



<script>
    let tl = gsap.timeline({repeat: -1});
    tl.set('.bulb', {scale: 0});
    tl.set('.light', {opacity: 0});
    tl.set('.scissors', {scale: 0});

    tl.to('.bulb', {
        scale: 1,
        rotation: 405,
        duration: 2,
        ease: 'bounce.out',
    });

    tl.to('.light', {
        delay: 0.5,
        opacity: 1,
        duration: 1,
        ease: 'bounce.inOut',
        stagger: 0.1,
    });

    tl.to('.bulb', {
        delay: 0.5,
        scale: 0,
        rotation: -405,
    });

    tl.to('.scissors', {
        scale: 1,
        rotation: -405,
        duration: 2,
        ease: 'bounce.out',
    })

    tl.to('.scissors-top', {
        delay: 0.5,
        rotation: -24
    })

    tl.to('.scissors-bottom', {
        rotation: 24
    }, "<")

    tl.to('.scissors-top', {
        rotation: -0,
    })

    tl.to('.scissors-bottom', {
        rotation: 0
    }, "<")

    tl.to('.scissors-top', {
        rotation: -24
    })

    tl.to('.scissors-bottom', {
        rotation: 24
    }, "<")

    tl.to('.scissors-top', {
        rotation: -0,
    })

    tl.to('.scissors-bottom', {
        rotation: 0
    }, "<")

</script>