---
const menu = [
    {
        text: 'Home',
        link: '/'
    },
    {
        text: 'About',
        link: '/'
    },
    {
        text: 'Contact',
        link: '/'
    },
]
---

<header class="sticky flex justify-between items-center w-full h-28 px-20">
    <!-- LOGO -->
    <div class="w-1/6 text-3xl font-extrabold">
        ZAR
    </div>

    <!-- MENU -->
    <nav class="flex-1">
        <ul class="flex gap-10 font-bold w-min mx-auto">
            {
                menu.map((item) => (
                    <li class="hover:text-accent-darker transition-all duration-200 ease-linear">
                        <a href={item.link}>{item.text}</a>
                    </li>
                ))
            }
            
        </ul>
    </nav>

    <!-- RIGHT -->
    <div class="w-1/6 flex justify-end">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
            <path d="M21 21l-6 -6"></path>
         </svg>
    </div>
</header>