---
const menu = [
    {
        text: 'Home',
        link: '/#'
    },
    {
        text: 'Nosotros',
        link: '/#about'
    },
    {
        text: 'Clientes',
        link: '/#clients'
    },
]
---

<header class="sticky z-50 flex justify-between items-center w-full h-28 lg:px-20 px-8">
    <!------------------------------------------------------------------------->
    <!-- LEFT (logo) -->
    <div class="w-1/6 text-3xl font-extrabold">
        TW
    </div>

    <!------------------------------------------------------------------------->
    <!-- CENTER (menu) -->
    <nav class="md:grid hidden place-content-center flex-1">
        <ul class="flex gap-10 font-bold w-min">
            {
                menu.map((item) => (
                    <li class="underline-soft | hover:text-accent-darker transition-all duration-200 ease-linear">
                        <a href={item.link}>{item.text}</a>
                    </li>
                ))
            }
            
        </ul>
    </nav>

    <!------------------------------------------------------------------------->
    <!-- RIGHT (button) -->
    <div class="md:flex hidden justify-end w-1/6">
        <!-- hover:rotate-[360deg] -->
        <a href="/#contact" class="flex justify-center items-center gap-2 border-2 border-secondary px-5 py-2.5 bg-secondary text-white rounded-lg hover:scale-105 hover:rotate-12 hover:shadow-lg hover:bg-primary hover:text-secondary active:scale-100 active:shadow-none transition-all duration-200 ease-linear cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-hand-rock" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M11 11.5v-1a1.5 1.5 0 0 1 3 0v1.5"></path>
                <path d="M17 12v-6.5a1.5 1.5 0 0 1 3 0v10.5a6 6 0 0 1 -6 6h-2h.208a6 6 0 0 1 -5.012 -2.7a69.74 69.74 0 0 1 -.196 -.3c-.312 -.479 -1.407 -2.388 -3.286 -5.728a1.5 1.5 0 0 1 .536 -2.022a1.867 1.867 0 0 1 2.28 .28l1.47 1.47"></path>
                <path d="M14 10.5a1.5 1.5 0 0 1 3 0v1.5"></path>
                <path d="M8 13v-8.5a1.5 1.5 0 0 1 3 0v7.5"></path>
             </svg>
            Contacto
        </a>
    </div>


    <!------------------------------------------------------------------------->
    <!-- RESPONSIVE (menu) -->
    <!-- BUTTON -->
    <div class="md:hidden flex justify-end w-1/6">
        <!-- hover:rotate-[360deg] -->
        <button class="burger | flex justify-center items-center gap-2 border-2 border-secondary px-2 py-1.5 bg-secondary text-white rounded-lg hover:scale-105 hover:rotate-12 hover:shadow-lg hover:bg-primary hover:text-secondary active:scale-100 active:shadow-none transition-all duration-200 ease-linear cursor-pointer">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-deep" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M4 6h16"></path>
                <path d="M7 12h13"></path>
                <path d="M10 18h10"></path>
             </svg>
        </button>
    </div>

    <!-- MENU -->
    <div class="menu-responsive | flex absolute top-0 left-full h-screen w-screen bg-secondary/95 transition-all ease-linear duration-300">
        <div class="close-button | absolute top-6 right-8 text-3xl text-white font-bold">X</div>

        <nav class="h-full w-full">
            <ul class="flex flex-col justify-center items-center text-5xl font-bold h-full w-full">
                {
                    menu.map((item) => (
                        <li class="hover:text-accent-darker transition-all duration-200 ease-linear border-y bg-secondary text-white py-10 px-10 w-full text-right">
                            <a class="menu-link | block text-right" href={item.link}>{item.text}</a>
                        </li>
                    ))
                }
                
            </ul>
        </na>
    </div>
    
</header>

<script>
    const burger = document.querySelector('.burger');
    const closeButton = document.querySelector('.close-button');
    const menu = document.querySelector<HTMLElement>('.menu-responsive');
    
    const links = document.querySelectorAll<HTMLElement>('.menu-link')

    let isOpen = false;

    burger?.addEventListener('click', () => {
        if(isOpen) {
            closeMenu();
        } else {
            openMenu();
        }
    })

    closeButton?.addEventListener('click', () => {
        closeMenu();
    })

    links.forEach(link => {
        link.addEventListener('click', (e) => {
            closeMenu();
            e.preventDefault();
            setTimeout(() => {
                window.location.href = (e.target as HTMLAnchorElement).href;
            }, 500);
        })
    })


    const openMenu = () => {
        menu!.style.left = "0%";
        isOpen = true;
        // No scroll
        document.body.classList.add('no-scroll');
    }

    const closeMenu = () => {
        menu!.style.left = "100%";
        isOpen = false;
        // Enable scroll
        document.body.classList.remove('no-scroll');
    }
</script>