---
import  Header  from '../components/Header.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/tremenda_web/fav-icon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap" rel="stylesheet">
	</head>
	<body>
		
		<main id="main" class="relative flex flex-col items-center min-h-screen bg-primary font-montserrat overflow-hidden">
			<!-- CURSOR -->
			<div id="cursor" class="md:block hidden absolute top-1/2 left-1/2 z-0 -translate-x-1/2 -translate-y-1/2 bg-white h-12 w-12 rounded-full opacity-90"></div>

			<Header/>
			<slot />
		</main>
	</body>
</html>
<style is:global>
	:root {}
	
	html {
		scroll-behavior: smooth;
	}

	.no-scroll {
		max-height: 100vh;
		overflow: hidden;
	}
	
	/*================================================================*/
	/* == SCROLLBAR == */
	::-webkit-scrollbar {
		width: 0.6em;
	}

	::-webkit-scrollbar-track {
		@apply bg-secondary/20;
		border-radius: 100vw;
	}

	::-webkit-scrollbar-thumb {
		@apply bg-secondary;
		border-radius: 100vw;
	}

	::-webkit-scrollbar-thumb:hover {
		@apply bg-accent-darker;

	}
	
	/*================================================================*/
	/* == UNDERLINE HOVER == */
	.underline-soft {
		position: relative;
		display: inline-block;
		padding-bottom: 3px;
		transition: all 500ms ease;
		text-decoration: none;
	}

	.underline-soft::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 2px;
		@apply bg-accent;
		transform: scaleX(0);
		transform-origin: center;
		transition: all 500ms ease;
	}

	.underline-soft:hover::after { transform: scaleX(1); }

	/*================================================================*/
	/* == TEXT == */
	.headline-2 {
		@apply md:text-6xl text-5xl font-extrabold md:mb-10 mb-4 text-left;
	}
	.headline-5 {
		@apply text-2xl font-extrabold mb-2;
	}

	.text-shadow {
		text-shadow: 2px -1px 5px  rgba(0,0,0,0.3);
	}

	.text {
		@apply md:text-lg text-sm leading-6;
	}

	.bold {
		@apply text-accent font-bold;
	}
</style>

<!-- <script is:inline src="/tremenda_web/lib/gsap.min.js"></script> -->

<script>
	const cursor = document.querySelector('#cursor');

	document.getElementById('main')?.addEventListener('mousemove', (e) => {
		const { pageX, pageY } = e;
		cursor?.animate({
			left: `${pageX}px`,
			top: `${pageY}px`
		}, {duration: 3000, fill: "forwards"})
	})

</script>


